<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Company Details | ApapMedika</title>

	<object th:replace="~{fragments/common :: css}"></object>
	<object th:replace="~{fragments/common :: js}"></object>
</head>

<body>
	<object th:replace="~{fragments/navbar :: navbar}"></object>

	<div class="container my-4">
		<div class="card">
			<div class="card-header">
				<h3>Company Detail</h3>
			</div>
			<div class="card-body">
				<div class="row mb-3">
					<div class="col-md-6">
						<p><strong>Company ID:</strong> <span th:text="${company.id}"></span></p>
						<p><strong>Company Name:</strong> <span th:text="${company.name}"></span></p>
						<p><strong>Contact:</strong> <span th:text="${company.contact}"></span></p>
						<p><strong>Email:</strong> <span th:text="${company.email}"></span></p>
						<p><strong>Address:</strong> <span th:text="${company.address}"></span></p>
					</div>
					<div class="col-md-6">
						<p><strong>Created At:</strong> <span
								th:text="${#dates.format(company.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
						<p><strong>Last Updated At:</strong> <span
								th:text="${#dates.format(company.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
						<p><strong>Total Coverage:</strong> <span th:text="${company.totalCoverageString}"></span></p>
					</div>
				</div>

				<div class="mb-3">
					<a th:href="@{/company/{id}/update(id=${company.id})}" class="btn btn-success">Update</a>
					<a th:href="@{/company/{id}/delete(id=${company.id})}" class="btn btn-danger">Delete</a>
				</div>

				<h5>Coverages</h5>
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>No</th>
							<th>Coverage</th>
							<th>Coverage Amount</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="coverage, iterStat : ${company.listCoverage}">
							<td th:text="${iterStat.index + 1}"></td>
							<td th:text="${coverage.name}"></td>
							<td th:text="${coverage.coverageAmountString}"></td>
						</tr>
					</tbody>
				</table>

				<a th:href="@{/company/all}" class="btn btn-secondary">Back</a>
			</div>
		</div>
	</div>
</body>


</html>